<html>
    <head></head>
    <body>
        <div style="display:flex;width: 100%;background-color: rgb(243, 199, 170);">
            <p style="font-size: 25px;height:20px;border-width: 2px;margin-top:10px;margin-bottom:10px;margin-left:12.5%;color:rgb(0, 0, 0);font-weight: bold;">Notebooks</p>
            <input id="notebook_name" type="text" style="height:20px;margin-top:10px;margin-left:35%">
            <button style="height:20px;background-color:blue;border:solid blue;border-width: 2px;margin-top:10px;margin-left:20px;color:white;font-weight: bold;" onclick="newNotebook()">New Notebook</button>
        </div>
        {%for notebook in notebooks%}
            <div style="display:flex;width: 100%; border: solid gainsboro">
                <p id="{{notebook.name}}"><a style="height:20px;border-width: 2px;margin-top:10px;margin-bottom:10px;margin-left:12.5%;color:rgb(0, 0, 0);" href="{{notebook.link}}"  target="_blank">{{notebook.name}}</a></p>
                <button style="height:20px;background-color:blue;border:solid blue;border-width: 2px;margin-top:10px;margin-left:20%;color:white;font-weight: bold;" onclick="deleteNotebook('{{notebook.name}}')">Delete</button>
            </div>
        {%endfor%}
        <script>
            function deleteNotebook(notebook_name){
                fetch(`/del?nb=${notebook_name}`).then(data => location.reload()).catch(e => console.log(e.message));
            };
            function newNotebook(){
                const notebook_name = document.getElementById("notebook_name").value;
                if(document.getElementById(notebook_name))
                    alert("Notebook already exists. Try with another name");
                else if(notebook_name){
                    window.setTimeout(() => {
                        location.reload();
                    }, 2000);
                    window.open(`/nb/${notebook_name}`+".mipynb");
                }else{
                    alert("Notebook name cannot be empty");
                }
            };
        </script>
    </body>
</html>